<html>
  <head>
    <title>Biblioteca</title>
    <meta charset="UTF-8">
  </head>
  <body>
			<p>Dados dos Autores</p>
			<ul>
				<li>Nome: <%= param.getNomeAutor()%></li>
				<li>Nacionalidade: <%= param.getNacionalidade()%></li>
			</ul>


			<p>Autor registrado com sucesso.</p>
 
			<a href="/inicio">Voltar ao Início</a>
			<a href="/autores">Consultar Autores</a>
  </body>
</html>